.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resultDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    gap: 10px;
}
.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    width: 450px;
    background-color: black;
}
.square{
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: 50px;
    padding: 0px;
    background-color: white;
    color: black;
}