.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    width: 600px;
    background-color: black;
}
.square{
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 50px;
    padding: 0px;
    background-color: white;
    color: black;
}